#count-down {
  margin-top: -10px;
}
.shape {
  padding: 8px 6px;
  background: #d3d1f3;
  border-radius: 4px;
  margin: 0 5px;
}

#count-down .shape {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #554fa6;
}

@media screen and (max-width: 480px) {
  #count-down {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
